# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Add by HH 2019-01-19
pala/log
pala/pala
pala/pala_program
pili/pili
pili/pili_programs
pili/pili_upload_programs
*.toml
